@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Galada&family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-shadow-color: blue;
}

body {
  font-family: "Poppins", sans-serif;
}

#react-glass,
#dayandnight,
#think,
#react-cup {
  animation: react 8s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

#webpage1,
#webpage2,
#webpage3 {
  animation: webpage 2s linear infinite;
}

#coding {
  animation: coding 2s linear infinite;
}

#hand {
  animation: hand 2s linear infinite;
}

@keyframes react {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes webpage {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(10px, 0);
  }
}

@keyframes coding {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-5px, 0);
  }
}

@keyframes hand {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 5px);
  }
}

.background {
  background: linear-gradient(
    152deg,
    rgba(246, 243, 255, 0) -63.66%,
    rgba(233, 236, 245, 0.88) -14.69%,
    rgba(18, 45, 183, 0.42) 24.42%
  );
}

.background-1 {
  background: linear-gradient(
    154deg,
    rgba(255, 255, 255, 0.38) 58.17%,
    rgba(241, 205, 205, 0) 70.32%
  );
}

.title {
  font-family: "Audiowide", sans-serif;
}
